//- variable to store categories
- var expenseCategories = ['Groceries', 'Utilities', 'Transportation', 'Healthcare', 'Entertainment','Dining Out', 'Education', 'Gifts/Donations', 'Personal Spending', 'Miscellaneous']
include ../head.pug
body
    .container.mt-5
      h1 #{mode}
      //- category
      .mb-3
          label(for="recordType" class="form-label") Category
          select(class="form-select mb-3" id="recordType" name="recordType" required)
            option(disabled selected value="") Select the Type
            option(value = "Income") Income
            option(value = "Expense") Expense
      //- category
      .mb-3
          label(for="category" class="form-label") Category
          select(class="form-select mb-3" id="category" name="category" required)
            option(disabled selected value="") Select the Category
            each category in expenseCategories
                option(value = category) #{category}
      //- amount
      .mb-3
        label(for="amount" class="form-label") Amount
        input(type="number" step="0.01" class="form-control" id="amount" name="amount" required placeholder="0.00")
      //- comment
      .mb-3
        label(for="comment" class="form-label") Comment
        textarea(class="form-control" id="comment" name="comment" rows="3" placeholder="Add a comment..." required)
      //- dateTime
      .mb-3
        label(for="expenseDateTime" class="form-label") Event Date/Time
        .input-group.date(id="datetimepicker1" data-target-input="nearest")
          input(type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" id= "expenseDateTime" name="expenseDateTime" required)
          .input-group-append(data-target="#datetimepicker1" data-toggle="datetimepicker")
            .input-group-text
              i.fas.fa-calendar-alt
      //- submit button
      button(type="submit" class="btn btn-success" onclick="submitExpenseForm()") #{mode === 'Update' ? 'Update' : 'Add'}
      span &nbsp;
      button(type="submit" class="btn btn-primary" onclick="window.location.href='/'") Back to list
    
    //- script for date-time picker
    script.
        const format = 'DD/MM/YYYY HH:mm'
        const picker = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'),{
            localization: {
                'locale': 'fr'
            }
        });
        picker.dates.formatInput = function(date) {
            return moment(date).format(format)
        }
        if ("#{mode}" === "Update") {
          const eventData = !{JSON.stringify(eventData || {})}.expense;
          picker.dates.setValue(new tempusDominus.DateTime(moment(eventData.DateTime, format)));
          // update the category
          document.getElementById('recordType').value = eventData.RecordType || '';
          // update the category
          document.getElementById('category').value = eventData.Category || '';
          // Update the Amount input
          document.getElementById('amount').value = eventData.Amount || '';
          // Update the Comment textarea
          document.getElementById('comment').value = eventData.Comment || '';

        }

        function submitExpenseForm() {
          const eventData  = {
            RecordType: document.getElementById('recordType').value,
            Category: document.getElementById('category').value,
            Amount: parseFloat(document.getElementById('amount').value),
            Comment: document.getElementById('comment').value,
            DateTime: document.getElementById('expenseDateTime').value,
          };

          const url = "#{mode}" === "Update" ? `/api/expense/${!{JSON.stringify(eventData  || {})}.id}` : '/api/expense';
          
          const method = "#{mode}" === "Update" ? 'put' : 'post';

          axios[method](url, eventData).then(response => {
            alert('Success!');
            location.href = '/'
          })
          .catch(error => {
            if(error.response)
              alert(JSON.stringify(error.response.data.errors))
            else
              alert(error)
          });b 
        }