include ../head.pug
body
    .container.mt-5
      h1 All expences
      table.table.table-responsive.table-hover.table-striped.table-dark
        thead
          tr
            th(scope="col") ID
            th(scope="col") Category
            th(scope="col") Amount
            th(scope="col") DateTime
            th(scope="col") Comment
            th(scope="col") Actions
        tbody
script.
      document.addEventListener('DOMContentLoaded', function() {
        axios.get('/api/expense')
          .then(function(response) {
            const expenses = response.data;
            const tableBody = document.querySelector('table tbody');
            expenses.forEach(exp => {
              const row = document.createElement('tr');
              const expense = exp.expense
              row.innerHTML = `
                <td>${exp.id}</td>
                <td>${expense.Category}</td>
                <td>${expense.Amount}</td>
                <td>${expense.DateTime}</td>
                <td>${expense.Comment}</td>
                <td>
                  <button class="btn btn-primary btn-sm" data-id="${exp.id}" onclick="window.location.href='/update/${exp.id}'">Edit</button>
                  <button class="btn btn-danger btn-sm" data-id="${exp.id}">Delete</button>
                </td>
              `;
              tableBody.appendChild(row);
            });
          })
          .catch(function(error) {
            console.log(error);
          });
          // Use event delegation for delete buttons
          document.addEventListener('click', function(event) {
            if (event.target && event.target.classList.contains('btn-danger')) {
              const expenseId = event.target.getAttribute('data-id');
              axios.delete(`/api/expense/${expenseId}`).then(function(response) {
                alert('Delete successful', response);
                location.reload()
              })
              .catch(function(error) {
                alert('Error deleting expense' + error);
              });
            }
          });
      });